@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1 0 auto; /* Ceci assure que le contenu prend tout l'espace disponible */
}

footer {
    flex-shrink: 0; /* Cela garantit que le footer ne se réduira pas */
}

